.DS_Store
main.E
main.o
main.s
openmp-example
openmp-example-O
Openmp-example-O1
Openmp-example-O2
openmp-example-O3

#qmake and cmake related
Makefile
.qmake.stash
q-openmp-example.app/**
q-openmp-example.pro.user
.q-openmp-example.pro.swp
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
cmake_install.cmake
cmake-openmp-example